@model OneClick.Domain._Entities.Note
    <div class="thumbnail">
        <div class="well">
            <h3>
                <strong>@Model.Name</strong>
                <span class=" pull-right label-primary"> Time : "@Model.Download"</span>
            </h3>
            <span class="lead">@Model.Description</span>
        </div>
    </div>
