@model IEnumerable<string>


<a href="@Url.Action("List","Notes")" class="btn btn-block btn-default btn-lg">Categories </a>
   @foreach (var link in Model) 
   { 
       @Html.RouteLink(link, new { controller = "Notes", action = "List", category = link, page = 1 }, 
       new { @class = "btn btn-block btn-default btn-lg" + 
           (link == ViewBag.SelectedCategory ? " btn-primary" : "") } ) 
   }